doctype html
html(ng-app='app')
  head
    title ns2stats
    meta(name="yandex-verification", content="67e6fda9b564447f")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js')
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js')
    script(src='https://code.angularjs.org/1.5.5/angular-route.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers.js')
  body
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40659724 = new Ya.Metrika({ id:40659724, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/40659724" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40659724 = new Ya.Metrika({ id:40659724, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/40659724" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    block content