include top-menu
div(ng-controller='MainCTRL').ui.cards
    div(ng-repeat='player in players track by $index', ng-finish-render="ngRepeatFinished").ui.card
        div(ng-class='{"steam-offline": !player.steam.personastate, "steam-playing": player.steam.gameextrainfo, "steam-online": player.steam.personastate >= 1 && !player.steam.gameextrainfo}').content.padding-none
            a(href='{{player.steam.profileurl}}', target="_blank", style='background-image: url("{{player.steam.avatarfull}}")').left.floated.avatar-v2
            div(style='margin: .5em;').left.floated.meta
                .ui.statistic.mini.margin-none
                    .label {{player.level}} lv.
            div(style='margin: .5em;').right.floated.meta
                .ui.statistic.mini.margin-none
                    .value {{player.update | timeAgo | msToTime}}
                        i(ng-click='updatePlayer(player.steamid)').refresh.icon
                    div(data-content='{{player.steam.personaname}}', data-position="bottom center").label {{player.alias | subString:10}}
        .content
            div(ng-show='player.steam.gameextrainfo').right.floated.meta in {{player.steam.gameextrainfo | subString:20}}
            .ui.mini.horizontal.statistics
                .statistic.margin-none
                    .value # {{player.index}}
                .statistic.margin-none
                    .value {{player.skill | toFix}}
                    .label skill
                .statistic.margin-none
                    .value {{player.score | toFix}}
                    .label score
        .content
            div(data-value="{{player.alien_playtime}}", data-total="{{player.time_played}}", data-content='{{player.alien_playtime | msToTime}}', data-position="right center").ui.green.small.progress
                .bar
                    .progress
            div(data-value="{{player.marine_playtime}}", data-total="{{player.time_played}}", data-content='{{player.marine_playtime | msToTime}}', data-position="right center").ui.blue.small.progress
                .bar
                    .progress
            div(data-value="{{player.commander_time}}", data-total="{{player.time_played}}", data-content='{{player.commander_time | msToTime}}', data-position="right center").ui.teal.small.progress
                .bar
                    .progress
    include modal-faq