include top-menu
div(ng-controller='MainCTRL')
    table.ui.table.inverted.main-table
        thead
            tr
                th Player
                th Playtime
                th Other
        tbody
            tr(ng-repeat='player in players track by $index')
                td
                    .content
                        span
                            a(href='{{player.steam.profileurl}}', target="_blank") {{player.alias}} ({{player.level}})
                        .sub.header
                            .ui.mini.horizontal.statistics.inverted
                                .statistic.margin-none
                                    .value {{player.skill | toFix}}
                                    .label skill
                                .statistic.margin-none
                                    .value {{player.score | toFix}}
                                    .label score
                td
                    div alien : {{player.alien_playtime | msToTime}}
                    div marine : {{player.marine_playtime | msToTime}}
                    div commander : {{player.commander_time | msToTime}}
                    div all time: {{player.time_played| msToTime}}
                td
                    div pid: {{player.pid}}
                    div reinforced tier: {{player.reinforced_tier}}
                    div xp: {{player.xp}}
                    div upd. at {{player.update | date:'MMMM, d HH:MM'}}