.ui.modal.faq
    i.close.icon
    .header QUERY-URI FAQ
    .content
        .description
            .ui.list
                .item 1
                .item 1
                .item 1
                .item 1