//
   Created by 3dspa on 23.11.2016.
include top-menu-player
div(ng-controller='PlayerTrackingDataCTRL')
    canvas(id='myChartSkill' ,width=960, height=200)
    canvas(id='myChartLevel' ,width=960, height=200)
    canvas(id='myChartScore' ,width=960, height=200)
    canvas(id='myChartXP' ,width=960, height=200)
    table.ui.inverted.small.table
        thead
            tr
                th Level
                th Skill
                th Score
                th XP
                th Alien play time
                th Marine play time
                th Commander play time
                th Time ago
        tbody
            tr(ng-repeat='data in playerDataArray track by $index')
                td {{data.level}}
                td(style='color: red;') {{data.skill | toFix}}
                td {{data.score | toFix}}
                td {{data.xp | toFix}}
                td(style='color: lightgreen;') {{data.alien_playtime | msToTime}}
                td(style='color: lightblue;') {{data.marine_playtime | msToTime}}
                td(style='color: lightgray;') {{data.commander_time | msToTime}}
                td {{data.update}}
include modal-faq