div(ng-controller='MenuCTRL').ui.top.fixed.menu.inverted
    .item
        .ui.labeled.icon.input.mini
            .ui.label Alias
            input(type='text', ng-enter='changeRoute()', placeholder='Enter alias ...', ng-model='player.alias')
            i.search.icon
    .menu
        .ui.dropdown.item Sort All By
            i.dropdown.icon
            .menu
                a(href='#/{{layout}}/sort-by/skill/desc/page/1').item Skill
                a(href='#/{{layout}}/sort-by/score/desc/page/1').item Score
                a(href='#/{{layout}}/sort-by/level/desc/page/1').item Level
                a(href='#/{{layout}}/sort-by/xp/desc/page/1').item XP
                .item
                    i.dropdown.icon
                    span Play time
                    .menu
                        a(href='#/{{layout}}/sort-by/aliens-playtime/desc/page/1').item Aliens
                        a(href='#/{{layout}}/sort-by/marines-playtime/desc/page/1').item Marins
                        a(href='#/{{layout}}/sort-by/commander-playtime/desc/page/1').item Commander
                        a(href='#/{{layout}}/sort-by/ns2-playtime/desc/page/1').item NS2
    a(ng-click='changeLayout()', ng-show='layout==="cards"').item
        i.grid.layout.icon
    a(ng-click='changeLayout()', ng-show='layout==="table"').item
        i.list.layout.icon
    .item
        a(href='#{{prevPage}}')
            i.left.chevron.icon
        a(href='#{{nextPage}}')
            i.right.chevron.icon
    a(ng-click='showFAQ()').right.item Help